/* Style the video: 100% width and height to cover  */
#myVideo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.img1 { 
    /* The image used */
    background-image: url("/images/background2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .dark {
    color: black;
}

.img2 { 
    /* The image used */
    background-image: url("/images/school2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}